################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/RedMentoring.Rest.Api/bin
/RedMentoring.Rest.Api/obj/Debug
